/* ---------- ==========================================
   GLOBAL SCAFFOLD

   # ??? Consider integrating the better suggestions from http://www.google.com/design/spec/layout/metrics-and-keylines.html#metrics-and-keylines-ratio-keylines
*/

html, body {
  overflow-x: hidden;
  height: auto;
  padding: 40px 0px;
  padding:0px !important;
  margin: 0px !important;
}
#background {
  position: absolute;
  opacity: 0.35;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('http://www.massline.org/PekingReview/PR1966/PR1966-04cP1.jpg');
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}

#document-head {
  margin-top: 100px;
}

#document-foot {
  	margin-bottom: 60px;
	margin-top: 30px;
	padding-top: 20px;
	&, * { 
		color: white;
		font-size: 95%;
	}
}